.appContainer {
  text-align: center;
  font-family: Arial, sans-serif;
}

.formResultadoContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;
}

h1 {
  color: #333;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
